body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background: url("../images/concrete_seamless.png");
}
h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}
/*header and Navbar*/

#logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 80px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
    text-align: center;
}

#page-change {
    float: right;
    padding-top: 15px;
    margin: 0 auto;
}
.nav-item {
    float: right;
}

.navcontainer1 {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* About Me Info Section*/

.container {
    background: #ffffff;
    padding: 0px;
}

.container1 {
    background: #ffffff;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

#jumbotron {
    background: #ffffff;
    padding: 70px;
    padding-left: 30px;
    padding-right: 30px;
}

#about-header {
    font-size: 35px;
    padding-top: 0px;
}

#Carey {
    max-width: 200px;
    max-height: 200px;
}

/* Portfolio Page*/

.work {
    position: relative;
    float: left;
    margin: 20px 0 25px;
    overflow: auto;
    height: 210px;
    width: 275px;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    border: 0 none;
    opacity: 0.8;
    height: 210px;
    width: 275px;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }

  /* Footer */

  footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
}